.page[b-ksmla2fidz] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ksmla2fidz] {
    flex: 1;
}

.topbar[b-ksmla2fidz] {
    background-color: #182F40;
    height: 3.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.top-row[b-ksmla2fidz] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ksmla2fidz]  a, .top-row[b-ksmla2fidz]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-ksmla2fidz]  a:hover, .top-row[b-ksmla2fidz]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-ksmla2fidz]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-ksmla2fidz] {
        justify-content: space-between;
    }

        .top-row[b-ksmla2fidz]  a, .top-row[b-ksmla2fidz]  .btn-link {
            margin-left: 0;
        }
}